section.checkout, section.checkout-order, section.checkout-payment {
    h1.checkout-header {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
        font-size: 25px;
        line-height: 130%;
        vertical-align: middle;
        display: inline-block;
        margin-bottom:15px;
        svg {
            position: relative;
            display: inline-block;
            height: 25px;
            vertical-align: middle;
            margin-left: 7px;
            width: 30px;
            top: -2px
        }
        span {
            font-weight: 400;
            font-size: 12px;
            line-height: 105%;
            color: #A7A6A6;
            position: absolute;
        }
    }
    h2 {
        color: #000000;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.93px;
    }
    input[type="email"],input[type="text"],input[type="tel"],input[type="password"] {
        border: 1px solid #DCDCDC;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        padding-left: 13px;
        white-space: nowrap;
        font-family: PFAgoraSansPro, 'Proxima Nova', Helvetica, Arial, sans-serif;
        transition: fill .4s ease-out, color .4s ease-out, background .4s ease-out, border-color .4s ease-out, opacity .4s ease-out;
        flex: auto;
    }
    input[readonly] {
        color: #9D9C9C;
    }
    input::placeholder,textarea::placeholder {
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 0.93px;
            color: #9D9C9C;
    }
    .checkout-btn_next_step {
        display: inline-block;
        border-radius: 0;
        padding: 12px 25px;
        border: 1px solid #fe4a5b;
        text-align: center;
        color: #fff!important;
        background-color: #fe4a5b;
        font-size: 12px;
        width: auto;
        letter-spacing: 0.015em;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
    }
}

section.checkout {
    margin:auto;
    max-width: 1600px;
    .checkout-cart {
        margin-bottom: 72px;
        .checkout-cart_block {
            display: grid;
            grid-template-columns: 5fr 2fr;
            gap: 40px;
        }
        .checkout-cart_container {
            display: grid;
            grid-auto-flow: row;
            row-gap: 15px;
            height: max-content;
            .checkout-cart_row {
                display: grid;
                width: 100%;
                gap: 20px;
                grid-template-columns : 47% 1fr 1fr 1fr 1fr;
                grid-auto-flow: column;
                position: relative;
                &:after {
                    content: "";
                    border-bottom: 1px solid #e9e9e9;
                    width: 100%;
                    position: absolute;
                    bottom: -20px;
                }
                &.checkout-cart_header {
                    margin-bottom: 10px;
                    &:after {
                        bottom: -10px;
                    }
                    .checkout-cart_title {
                        color: #a7a6a6;
                        font-weight: 400;
                        font-size: 12px;
                        &:nth-last-child(1) {
                            text-align: right;
                        }
                        &:nth-last-child(2) {
                            text-align: center;
                        }
                    }
                }
                .cart-item_can_buy {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    background: rgb(209 209 209 / 20%);
                    justify-content: center;
                    z-index: 2;
                }
                .checkout-cart__column {
                    display: inline-block;
                    &.cart-item_name {
                        display: grid;
                        grid-template-columns: 89px auto;
                        .cart-item_img {
                            padding-top: 7px;
                            a {
                                display: inline-block;
                                border: 1px solid #f3f3f3;
                                margin-right: 20px;
                                max-width: 69px;
                                height: 103px;
                                width: 100%;
                                text-align: center;
                                vertical-align: top;
                                background-repeat: no-repeat;
                                background-position: center center;
                                background-size: contain;
                            }
                        }
                        .cart-item_description {
                            padding-top: 5px;
                            padding-right: 10px;
                            .cart-item__title {
                                font-weight: 400;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 14px;
                                line-height: 130%;
                                margin-bottom: 10px;
                                color: #000!important;
                                transition: color .4s ease-out, opacity .4s ease-out;
                                &:hover {
                                    color: #FE4A5B !important;
                                }
                            }
                            .cart-item_prop {
                                display: inline-block;
                                max-width: 300px;
                                width: 60%;
                                vertical-align: top;
                                margin-bottom: 5px;
                                white-space: nowrap;
                                color: #7A7A7A;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 130%;
                                letter-spacing: 0.5px;
                                .cart-item_prop-title {
                                    color: #A7A6A6;
                                    min-width: 60px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    &.cart-item_price {
                        font-style: normal;
                        font-family: PFAgoraSansPro, "Proxima Nova", Helvetica, Arial, sans-serif;
                        font-weight: 400;
                        font-size: 16px;
                        white-space: nowrap;
                        margin-top: 5px;
                        line-height: 130%;
                        span {
                            display: block;
                            color: #A7A6A6;
                            font-size: 14px;
                        }
                        &.cart-item_price_new span {
                            color: #A7A6A6;
                            font-size: 14px;
                            margin-top: 6px;
                            &.cart-item_price_benefit {
                                color: #FE4A5B;
                            }
                            &.is_gift {
                                margin-top: 0;
                                color: #000000;
                                font-size: 16px;
                            }
                        }
                    }
                    &.cart-item_summa {
                        font-style: normal;
                        font-family: PFAgoraSansPro, "Proxima Nova", Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        white-space: nowrap;
                        text-align: right;
                        margin-top: 4px;
                        color: #000000;
                        animation: show_price 1.5s forwards;
                        span.anim {
                            animation: show_price 1.5s forwards;
                        }
                    }
                    &.cart-item_quantity {
                        position: relative;
                        width: fit-content;
                        height: fit-content;
                        justify-self: center;
                        input.cart-quantity {
                            width: 73px;
                            height: 30px;
                            text-align: center;
                            padding-left: 5px;
                            padding-right: 5px;
                            color: #000;
                            font-size: 14px;
                            font-family: PFAgoraSansPro, 'Proxima Nova', Helvetica, Arial, sans-serif;
                            border: 1px solid #DCDCDC;
                            line-height: normal;
                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                        & .cart-quantity_before, & .cart-quantity_after {
                            align-items: center;
                            cursor: pointer;
                            display: flex;
                            justify-content: center;
                            width: 24px;
                            height: 30px;
                            top: 0;
                            position: absolute;
                            z-index: 1;
                            svg {
                                fill: #000000;
                                transition: fill .4s ease-out;
                            }
                            &:hover  svg {
                                fill: #FE4A5B;
                            }
                        }
                        & .cart-quantity_before {
                            left:0;
                        }
                        & .cart-quantity_after {
                            right: 0;
                        }
                    }
                }
                .cart-item_delete {
                    display: inline-block;
                    opacity: 0;
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                    transition: opacity .4s ease-out;
                    z-index: 3;
                    button {
                        background: none;
                        border: none;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                    }
                    svg {
                        display: inline-block;
                        width: 14px;
                        height: 17px;
                        fill: #a7a6a6;
                        transition: fill .4s ease-out;
                        margin-right: 7px;
                    }
                    span {
                        display: inline-block;
                        color: #a7a6a6;
                        transition: color .4s ease-out;
                    }
                    &:hover {
                        svg {
                            transition: fill .4s ease-out;
                            fill: #FE4A5B;
                        }
                        span {
                            color: #FE4A5B;
                        }
                    }
                }
                &.checkout-cart_item {
                    margin-bottom: 20px;
                }
                &.checkout-cart_item:hover {
                    .cart-item_delete {
                        opacity: 1;
                    }
                    .cart-item_like {
                        opacity: 1;
                    }
                }
                .cart-item_like {
                    display: inline-block;
                    opacity: 0;
                    position: absolute;
                    bottom: 4px;
                    right: 0;
                    z-index: 3;
                    &.button-like {
                        border: none;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 130%;
                        text-transform: none;
                        color: #a7a6a6;
                        padding: 0;
                        height: auto;
                        width: auto;
                        display: flex;
                        right: 100px;
                        transition: opacity .4s ease-out, color .4s ease-out;
                        svg {
                            top: 0;
                            left: 0;
                            position: relative;
                            margin-right: 7px;
                            stroke: #a7a6a6;
                            fill: #FFFFFF;
                            transition: fill .4s ease-out, stroke .4s ease-out;
                            &._liked {
                                stroke: #FE4A5B;
                                fill: #FE4A5B;
                            }
                        }
                        &._liked {
                            color: #FE4A5B;
                            svg {
                                stroke: #FE4A5B;
                                fill: #FE4A5B;
                            }
                        }
                        &:hover {
                            color: #FE4A5B;
                            svg {
                                stroke: #FE4A5B;
                                fill: #FE4A5B;
                            }
                        }
                    }
                }
            }
        }
        .checkout-cart_right {
            height: max-content;
            .checkout-cart_result {
                background: #fafafa;
                border: 1px solid #DCDCDC;
                .in_cart {
                    display: grid;
                    grid-template-columns: 4fr 3fr;
                    row-gap: 5px;
                    padding: 20px;
                    line-height: 130%;
                    font-weight: 400;
                    font-size: 14px;
                    color: #000000;
                    .in_cart-title {
                        font-weight: 500;
                        font-size: 16px;
                        letter-spacing: 0.015em;
                        text-transform: uppercase;
                    }
                    .in_cart-count {
                        text-align: right;
                        color: #A7A6A6;
                    }
                    .in_cart-summa_price {
                        text-align: right;
                    }
                    .in_cart-discount_price {
                        text-align: right;
                        color: #FE4A5B;
                    }
                }
                .in_pay {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    padding: 20px;
                    line-height: 130%;
                    color: #000000;
                    border-top: 1px solid #DCDCDC;
                    .in_pay-summa {
                        display: grid;
                        grid-template-columns: 4fr 3fr;
                        margin-bottom: 5px;
                        &_text {
                            font-weight: 500;
                            font-size: 16px;
                            letter-spacing: 0.015em;
                            text-transform: uppercase;
                        }
                        &_price {
                            text-align: right;
                            font-weight: 500;
                            font-size: 18px;
                        }
                    }
                    .checkout-btn_next_step {
                        grid-area: btn_next_step;
                    }
                }
                .in_pay_fixed {
                    display: none;
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    padding: 15px 20px;
                    background: #FFFFFF;
                    z-index: 10;
                    width: calc(100% - 40px);
                    border-top: 1px solid #DCDCDC;
                    .in_pay_fixed-buttons {
                        display: flex;
                        gap: 10px;
                    }
                    .in_pay-summa {
                        display: grid;
                        grid-template-columns: 4fr 3fr;
                        margin-bottom: 5px;
                        &_text {
                            font-weight: 500;
                            font-size: 16px;
                            letter-spacing: 0.015em;
                            text-transform: uppercase;
                        }
                        &_price {
                            text-align: right;
                            font-weight: 500;
                            font-size: 18px;
                        }
                    }
                    .checkout-btn_gift {
                        display: inline-block;
                        border-radius: 0;
                        padding: 10px 12px 6px;
                        border: 1px solid #fe4a5b;
                        text-align: center;
                        color: #fff!important;
                        background-color: #fe4a5b;
                        font-size: 12px;
                        width: auto;
                        letter-spacing: 0.015em;
                        font-weight: 500;
                        text-transform: uppercase;
                        text-decoration: none;
                        cursor: pointer;
                        svg {
                            width: 19px;
                            height: 19px;
                        }
                    }
                    .checkout-btn_next_step {
                        width: 100%;
                    }
                    &.active {
                        display: block;
                    }
                }
                .auth-link {
                    line-height: 130%;
                    color: #A7A6A6;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 130%;
                    span {
                        color: #FE4A5B;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .checout-cart_reserv {
                background: #fafafa;
                border: 1px solid #DCDCDC;
                padding: 10px 20px;
                line-height: 130%;
                font-weight: 400;
                font-size: 14px;
                color: #000000;
                margin-top: 10px;
                text-align: center;
            }
        }
    }
    .checkout-recommend {
        margin-top: 35px;
    }
}

section.checkout-order {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    .checkout-order_registration {
        padding: 55px 0;
        .breadcrumbs {
            margin-bottom: 15px;
            margin-top: 20px;
        }
    }
    .checkout-delivery_profile, .checkout-delivery_address {
        display: grid;
        column-gap: 40px;
        margin-bottom: 35px;
        #address_string.error {
            border-color: #FE4A5B;
        }
        span#error_code_address {
            display: block;
            font-size: 12px;
            color: #FE4A5B;
        }
        .checkout-delivery_form {
            display: grid;
            row-gap: 10px;
            .checkout-delivery_form_row {
                width: 100%;
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                input.error {
                    border-color: #FE4A5B;
                }
            }
            &.address {
                input {
                    text-transform: none;
                    width: 100%;
                }
                textarea {
                    width: 100%;
                    max-width: 100%;
                    height: 95px;
                    font-family: PFAgoraSansPro, 'Proxima Nova', Helvetica, Arial, sans-serif;
                    padding: 13px;
                    font-size: 14px;
                    resize: none;
                    border: 1px solid #DCDCDC;
                    text-transform: none;
                }
            }
        }
        #error_contact {
            display: block;
            font-size: 14px;
            line-height: 130%;
            color: #FE4A5B;
            margin-top:5px;
        }
    }
    .checkout-shipment {
        margin-bottom: 35px;
        span#error_code_delivery {
            display: block;
            font-size: 12px;
            color: #FE4A5B;
        }
        form#delivery-form_change.error {
            border: 1px solid #FE4A5B;
            border-color: #FE4A5B;
        }
        .delivery-list {
            .delivery-list_tabs {
                display: flex;
                .delivery-list_tab {
                    display: inline-flex;
                    align-items: center;
                    justify-content: left;
                    border: 1px solid #a7a6a6;
                    padding: 12px;
                    height: 35px;
                    line-height: 37px;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 400;
                    letter-spacing: 0.93px;
                    width: 100%;
                    cursor: pointer;
                    &:nth-child(even) {
                        margin-left: -1px;
                    }
                    &.active {
                        border: 1px solid #000;
                        z-index:1;
                    }
                    svg {
                        display: inline-block;
                        margin-right: 10px;
                    }
                    div {
                        display: inline-grid;
                        height: 100%;
                        grid-template-rows: 2fr 1fr;
                        line-height: normal;
                    }
                    span {
                        color: #9D9C9C;
                        display: inline-block;
                        font-size: 12px;
                    }
                }
            }
            .delivery-items {
                border: 1px solid #a7a6a6;
                border-top: none;
                padding: 15px;
                .delivery-multi_btn {
                    background: #000000;
                    color: #FFFFFF;
                    font-weight: 500;
                    font-size: 12px;
                    text-align: center;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    cursor: pointer;
                    padding: 14px;
                    margin-top: 15px;
                }
                .delivery-multi_check {
                    padding: 20px 0;
                }
                .delivery-not_item {
                    display: none;
                    color: #9D9C9C;
                    &.active {
                        display: block;
                    }
                }
            }
            .delivery-item {
                display: none;
                &.active {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas:    "a a"
                                            "row row";
                }
                .multi_row {
                    grid-area: row;
                    grid-row: none;
                }
                div.delivery-item_input {
                    display: inline-block;
                    border: 1px solid #a7a6a6;
                    padding: 11px;
                    grid-row-start: auto;
                    margin-top: -1px;
                    &:nth-child(even) {
                        margin-left: -1px;
                    }
                    &.active {
                        border-color: #000;
                        z-index: 1;
                    }
                    input[type="radio"] {
                        display: none;
                        &:checked ~ label {
                            border-color: #000;
                        }
                    }
                    label {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        cursor: pointer;
                        span {
                            display: inline-block;
                            width: 100%;
                            text-align: center;
                            text-transform: uppercase;
                            font-size: 12px;
                            letter-spacing: 0.93px;
                            &.delivery_price {
                                color: #9D9C9C
                            }
                            &.delivery_text {
                                color: #9D9C9C;
                                font-size: 12px;
                                text-transform: none;
                            }
                        }
                    }
                }
            }
        }
        .delivery-multi_select {
            height: 40px;
            width: 100%;
            max-width: 100%;
            margin-top: 10px;
        }
        .checkout-shipment_not {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 20px;
        }
    }
    .checkout-payment {
        margin-bottom: 40px;
        .payment-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .payment-item {
                padding: 11px;
                border: 1px solid #a7a6a6;
                &:nth-child(even) {
                    margin-left: -1px;
                }
                &.active {
                    border: 1px solid #000;
                    z-index: 1;
                }
                input[type="radio"] {
                    display: none;
                }
                label {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    cursor: pointer;
                    padding-left: 11px;
                    img {
                        margin: 10px 0;
                        max-width: 22px;
                        max-height: 16px;
                    }
                    span {
                        display: block;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 130%;
                        letter-spacing: 0.015em;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .payment-description {
            border: 1px solid #a7a6a6;
            border-top: none;
        }
        .checkout-payment_not {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 20px;
        }
    }
    .checkout-btn_prev_step {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #FE4A5B;
        svg {
            margin-right: 10px;
        }
    }
    .checkout-promo {
        border: 1px solid #DCDCDC;
        span#error_code_promo {
            display: flex;
            font-size: 12px;
            color: #FE4A5B;
            padding-top: 10px;
            gap: 10px;
        }
        .checkout-promo_info {
            padding: 5px 0;
            color: #a7a6a6;
            font-weight: 500;
        }
        .checkout-promo_btn {
            padding: 15px 20px;
            color: #000000;
            background: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative;
            span {
                font-weight: 400;
                font-size: 14px;
                line-height: normal;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                margin-left: 10px;
            }
            .checkout-promo_btn-arrow {
                position: absolute;
                right: 20px;
                transition: transform 0.5s ease;
            }
            &.active .checkout-promo_btn-arrow {
                transform: rotate(-180deg);
            }
            &.active ~.checkout-promo_container {
                display: block;
            }
        }
        .checkout-promo_container {
            display: none;
            background: #fff;
            padding: 20px;
            padding-top: 0;
            form#promo-form_add {
                display: grid;
                grid-template-columns: 240px 1fr;
                column-gap: 10px;
                input[name="coupon"] {
                    width: 100%;
                }
                button[type="submit"] {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-align: center;
                    display: inline-block;
                    border: 1px solid #000;
                    color: #fff;
                    background-color: #000;
                    line-height: 37px;
                    padding: 0 13px;
                    cursor: pointer;
                    box-sizing: border-box;
                    &:hover {
                        color: #000;
                        background-color: #fff;
                    }
                }
            }
            form.promo-form_delete {
                margin: 10px 0;
                display: block;
                font-size: 12px;
                letter-spacing: 0.5px;
                font-weight: 400;
                margin-top: 15px;
                text-align: left;
                color: #a7a6a6;
                svg {
                    display: inline-block;
                    width: 17px;
                    height: 16px;
                    margin-right: 3px;
                    vertical-align: middle;
                }
                button[type="submit"] {
                    display: inline-block;
                    border: none;
                    background: none;
                    cursor: pointer;
                    width: 13px;
                    height: 20px;
                    svg {
                        display: inline-block;
                        width: 13px;
                        height: 20px;
                        fill: #a7a6a6;
                        cursor: pointer;
                        margin-left: 3px;
                        vertical-align: middle;
                    }
                    &:hover svg {
                        fill: #333;
                        transition: none;
                    }
                }
            }
        }
    }
    .checkout-digift {
        border: 1px solid #DCDCDC;
        border-top:none;
        .checkout-digift_btn {
            padding: 15px 20px;
            color: #000000;
            background: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative;
            span {
                font-weight: 400;
                font-size: 14px;
                line-height: normal;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                margin-left: 10px;
                height: 1em;
                display: flex;
                gap: 10px;
                .digift-info_btn {
                    fill: #757575;
                    &:hover, &.active {
                        fill: #FE4A5B;
                    }
                    ~ .digift-info {
                        display: none;
                        position: absolute;
                        background: #fff;
                        border: 1px solid #D9D9D9;
                        z-index: 10;
                        top: 49px;
                        width: 209px;
                        left: 30%;
                        padding: 20px;
                        text-transform: initial;
                        font-size: 14px;
                        line-height: 130%;
                        &::after {
                            content: "";
                            border-top: 1px solid #D9D9D9;
                            top: -10px;
                            position: absolute;
                            right: 60px;
                            z-index: 11;
                            width: 20px;
                            height: 20px;
                            background: #fff;
                            transform: rotate(45deg);
                        }
                        &::before {
                            content: "";
                            border-top: 1px solid #D9D9D9;
                            top: -10px;
                            position: absolute;
                            right: 60px;
                            z-index: 11;
                            width: 20px;
                            height: 20px;
                            background: #fff;
                            transform: rotate(-45deg);
                        }
                        b {
                            font-weight: 500;
                            color: #000;
                        }
                        div {
                            font-weight: 400;
                            color: #757575;
                            margin-top: 7px;
                        }
                        a {
                            display: block;
                            font-weight: 400;
                            color: #FE4A5B;
                            margin-top: 7px;
                        }
                    }
                    &.active ~ .digift-info {
                        display: block;
                        position: absolute;
                    }
                }
            }
            .checkout-digift_btn-arrow {
                position: absolute;
                right: 20px;
                transition: transform 0.5s ease;
            }
            &.active .checkout-digift_btn-arrow {
                transform: rotate(-180deg);
            }
            &.active ~.checkout-digift_container {
                display: block;
            }
        }
        .checkout-digift_container {
            display: none;
            background: #fff;
            padding: 20px;
            padding-top: 0;
            form#digift-form_add, form#digift-form_delete {
                display: grid;
                grid-template-columns: 240px 1fr;
                column-gap: 10px;
                .digift-form_inputs {
                    display: grid;
                    grid-template-columns: 160px 1fr;
                    input {
                        width: 100%;
                        &[type="password"] {
                            padding: 0;
                            border-left: 0;
                            text-align: center;
                        }
                    }
                }
                button[type="submit"] {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-align: center;
                    display: inline-block;
                    border: 1px solid #000;
                    color: #fff;
                    background-color: #000;
                    line-height: 37px;
                    padding: 0 13px;
                    cursor: pointer;
                    box-sizing: border-box;
                    &:hover {
                        color: #000;
                        background-color: #fff;
                    }
                }
            }
            form.digift-form_delete {
                margin: 10px 0;
                display: block;
                font-size: 12px;
                letter-spacing: 0.5px;
                font-weight: 400;
                margin-top: 15px;
                text-align: left;
                color: #a7a6a6;
                svg {
                    display: inline-block;
                    width: 17px;
                    height: 16px;
                    margin-right: 3px;
                    vertical-align: middle;
                }
                button[type="submit"] {
                    display: inline-block;
                    border: none;
                    background: none;
                    cursor: pointer;
                    width: 13px;
                    height: 20px;
                    svg {
                        display: inline-block;
                        width: 13px;
                        height: 20px;
                        fill: #a7a6a6;
                        cursor: pointer;
                        margin-left: 3px;
                        vertical-align: middle;
                    }
                    &:hover svg {
                        fill: #333;
                        transition: none;
                    }
                }
            }
            span.checkout-digift_balance, span.checkout-digift_error {
                margin: 10px 0px;
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 14px;
                svg {
                    margin-right: 15px;
                }
            }
            span.checkout-digift_balance {
                color: #51C12A;
            }
            span.checkout-digift_error {
                color: #FE4A5B;
            }
        }
    }
    .auth-link {
        padding-top: 10px;
        line-height: 130%;
        color: #A7A6A6;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        span {
            color: #FE4A5B;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

section.checkout-payment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    min-height: 100vh;
    .checkout-payment_pay {
        padding: 55px 0;
        .checkout-header {
            margin-top: 15px;
        }
        .breadcrumbs {
            margin-bottom: 15px;
            margin-top: 20px;
        }
    }
    .checkout-payment_description {
        font-size: 14px;
        line-height: 130%;
        display: grid;
        grid-template-rows: 1fr;
        gap: 10px;
        border: 1px solid #FE4A5B;
        padding: 20px;
        margin-bottom: 20px;
        width: 420px;
        b {
            font-weight: 500;
            color: #000000;
        }
        span {
            font-weight: 400;
            color: #000000;
        }
        i {
            font-weight: 500;
            color: #FE4A5B;
            font-style: inherit;
        }
    }
    .paysystem-yandex {
        width: 460px;
    }
    .btn.btn-pay_link {
        display: inline-block;
        border-radius: 0;
        padding: 12px 25px;
        border: 1px solid #fe4a5b;
        text-align: center;
        color: #fff!important;
        background-color: #fe4a5b;
        font-size: 12px;
        width: auto;
        letter-spacing: 0.015em;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        &.mobile {
            display: block;
            margin: 20px 0;
        }
    }
}

section.checkout-order, section.checkout-payment {
    .checkout-order_total {
        display: grid;
        gap: 5px;
        background: #fff;
        padding: 20px;
        margin-top: 20px;
        border: 1px solid #dcdcdc;
        .checkout-order_total-row {
            display: grid;
            grid-template-columns: 5fr 2fr;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #000000;
            span.right {
                text-align: right;
            }
            span.red {
                color: #FE4A5B;
            }
        }
    }
    .checkout-order_right, .checkout-payment_right {
        background: #FAFAFA;
        border-left: 1px solid #DCDCDC;
        padding: 55px 40px;
        .checkout-order_cart {
            .checkout-order_cart-title {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                border-bottom: 1px solid #DCDCDC;
                padding-bottom: 10px;
                margin-bottom: 10px;
                h2 {
                    margin: 0;
                    padding:0;
                }
                span {
                    text-align: right;
                    color: #A7A6A6;
                }
            }
            .checkout-cart_container {
                margin: 10px 0;
                .checkout-cart_item {
                    display: grid;
                    grid-template-columns: 60px calc(100% - 200px) 100px;
                    gap: 20px;
                    margin: 20px 0;
                    .cart-product__image {
                        width: 100%;
                        position: relative;
                        height: 85px;
                        background-color: #fff;
                        span {
                            position: absolute;
                            top: -9px;
                            right: -9px;
                            width: 18px;
                            height: 18px;
                            background: #FE4A5B;
                            border-radius: 50%;
                            color: #fff;
                            text-align: center;
                            font-size: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .cart-item_description {
                        display: inline-block;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 130%;
                        color: #000000;
                        align-self: center;
                    }
                    .cart-item_summa {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 130%;
                        color: #000000;
                        text-align: right;
                        align-self: center;
                    }
                }
            }
        }
    }
    .checkout-order_next {
        background: #fff;
        padding: 20px;
        border: 1px solid #dcdcdc;
        border-top: none;
        .checkout-order_next-total {
            display: grid;
            grid-template-columns: 5fr 2fr;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.015em;
            text-transform: uppercase;
            color: #000000;
            .checkout-order_next-total_price {
                text-align: right;
            }
        }
        .checkout-btn_next_step {
            margin-top: 15px;
            display: block;
        }
    }
}
#delivery-multi_map{
    position: fixed !important;
    top:0 !important;
}
.delivery-map {
    display: none;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    .delivery-map_container{
        width: 100%;
        height: 100%;
        display: grid;
        font-family: PFAgoraSansPro, "Proxima Nova", Helvetica, Arial, sans-serif;
        grid-template-columns: 320px 1fr;
        grid-template-rows: 80px 1fr;
        gap: 10px;
        position: relative;
        .delivery-map_close {
            padding: 30px 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #FE4A5B;
            cursor: pointer;
            height: fit-content;
            svg {
                margin-right: 10px;
            }
        }
        .delivery-map_search {
            height: fit-content;
        }
        .delivery-map_select {
            height: 100%;
            position: relative;
            .delivery-map_select-title {
                font-weight: 400;
                font-size: 18px;
                line-height: 105%;
                letter-spacing: 0.015em;
                text-transform: uppercase;
                color: #000000;
                padding: 18px 20px;
                border-top: 1px solid #DCDCDC;
                border-bottom: 1px solid #DCDCDC;
            }
            #delivery-map_select-items {
                background-color: #FAFAFA;
                height: calc(100% - 60px);
                overflow: overlay;
                position: absolute;
                width: 100%;
                &::-webkit-scrollbar {
                    width: 6px;
                    height: 6px;
                    background: #eaedf1;
                }
                &::-webkit-scrollbar-button {
                    display: none;
                }
                &::-webkit-scrollbar-thumb {
                    background: #D9D9D9;
                    border-radius: 6px;
                }
                &::-webkit-scrollbar-track {
                    background: #eaedf1;
                }
                .item {
                    padding: 20px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 130%;
                    color: #000000;
                    border-bottom: 1px solid #DCDCDC;
                    .item-name {
                        font-weight: 500;
                        margin: 10px 0;
                    }
                    .item-address {
                        margin: 5px 0;
                    }
                    button {
                        background: none;
                        border: none;
                        cursor: pointer;
                        width: 100%;
                        background: #000;
                        padding: 7px;
                        color: #fff;
                        text-align: center;
                        letter-spacing: 1.5px;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 12px;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
    #delivery-map-init {
        width: 100%;
        height: 100%;
    }
}

.checkout-cart_gifts {
    margin-bottom: 20px;
    .checkout-cart_gift {
        display: grid;
        position: relative;
        margin-top: 10px;
        grid-template-columns: 65px 1fr;
        background: #FFEEF0;
        border: 1px solid #DCDCDC;
        cursor: pointer;
        .checkout-cart_gift-image {
            mix-blend-mode: darken;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            height: 97px;
            width: 64px;
            border-right: 1px solid #DCDCDC;
        }
        .checkout-cart_gift-description {
            padding-left: 20px;
            align-self: center;
            .checkout-cart_gift-title {
                font-weight: 500;
                font-size: 14px;
                line-height: 131%;
                text-transform: uppercase;
                color: #000000;
            }
        }
        .checkout-cart_gift-link {
            color: #FE4A5B;
            margin-top: 5px;
            svg {
                vertical-align: middle;
            }
        }
    }
    .checkout-cart_gift-popup {
        display: none;
    }
}
.checkout-cart_gift-popupGift {
    font-family: PFAgoraSansPro, "Proxima Nova", Helvetica, Arial, sans-serif;
    .popup-window-close-icon:after {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
        width: 20px;
        height: 20px;
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M19.9989 1.42852L18.5704 0L9.9994 8.57117L1.42894 0.000821323L0.000424566 1.42932L8.5709 9.99969L0 18.5707L1.42849 19.9992L9.99942 11.4282L18.5711 19.9998L19.9996 18.5713L11.4279 9.99967L19.9989 1.42852Z" fill="black"/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
    }
}
.checkout-cart_gift-popup {
    padding: 60px;
    .checkout-cart_gift-popup_title {
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        margin: 0 auto 20px;
    }
    .checkout-cart_gift-owl {
        max-width: 812px;
        margin: auto;
        .owl-nav {
            .owl-next {
                position: absolute;
                right: -25px;
                top: 180px;
            }
            .owl-prev {
                position: absolute;
                left: -25px;
                top: 180px;
            }
            button.disabled {
                opacity: 0;
            }
        }
    }
    .checkout-cart_gift-mobile {
        max-width: 812px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 20px;
        .popupGift_item {
            margin: 0;
        }
    }
    .owl-stage {
        display: flex;
    }
    .owl-item {
        width: 150px;
    }
    .popupGift_item {
        display: flex;
        flex-direction: column;
        max-width: 150px;
        width: 150px;
        position: relative;
        height: 100%;
        .popupGift_item-image {
            width: 100%;
            height: 225px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            border: 1px solid #F3F3F3;
            margin-bottom: 10px;
        }
        .popupGift_item-brand {
            color: #957C5C;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .popupGift_item-name {
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #000000;
            margin-bottom: 47px;
        }
        .popupGift_item-btn {
            height: 34px;
            position: absolute;
            width: 100%;
            bottom: 0;
            button {
                background: none;
                border: none;
                cursor: pointer;
                width: 100%;
                background: #FFFFFF;
                border: 1px solid #FE4A5B;
                padding: 7px;
                transition: all 0.5s ease;
                span {
                    font-family: PFAgoraSansPro,"Proxima Nova",Helvetica,Arial,sans-serif;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 130%;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    color: #FE4A5B;
                    transition: all 0.5s ease;
                }
                &:hover {
                    background: #FE4A5B;
                    span {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

#error_order {
    position: fixed;
    width: 90%;
    max-height: 100px;
    max-width: 300px;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    background: #FFF;
    padding: 20px;
    border: 1px solid #c9c9d9;
    z-index: 10;
    .error_order-text {
        width: 100%;
        font-size: 16px;
        text-align: center;
        font-weight: 400;
    }
    .error_order-btn {
        border-radius: 0;
        padding: 12px 25px;
        border: 1px solid #fe4a5b;
        text-align: center;
        color: #fff !important;
        background-color: #fe4a5b;
        font-size: 12px;
        letter-spacing: .015em;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        display: block;
        width: calc(100% - 50px);
        margin-top: 10px;
    }
}

@keyframes show_price {
    0% {opacity: 0;}
  100% {opacity: 1;}
}

@media screen and (max-width: 688px) {
section.checkout.mobile {
    .checkout-cart {
        .checkout-cart_block {
            grid-template-columns: none;
            gap:0;
        }
        .checkout-cart_container {
            .checkout-cart_row {
                grid-template-columns: 69px 1fr 1fr;
                grid-template-areas:    "desc desc desc"
                                        "image price total"
                                        "image quantity empty";
                row-gap: 10px;
                &.checkout-cart_header {
                    height: 0;
                    .checkout-cart_title {
                        display: none;
                    }
                }
                .checkout-cart__column {
                    &.cart-item_name {
                        grid-area: desc;
                    }
                    &.cart-item_price {
                        grid-area: price;
                        margin-top: 1px;
                        &.cart-item_price_new {
                            display: grid;
                            gap: 5px;
                            row-gap: 0;
                            grid-template-areas:    "new_price old_price"
                                                    "discount discount";
                            span {
                                margin-top: 0;
                                margin-left: 10px;
                                grid-area: old_price;
                            }
                            .cart-item_price_benefit {
                                margin-left: 0;
                                grid-area: discount;
                            }
                        }
                    }
                    &.cart-item_quantity {
                        grid-area: quantity;
                        margin-top: 5px;
                        justify-self: left;
                    }
                    &.cart-item_summa {
                        grid-area: total;
                        margin-top: 0;
                    }
                }
                .cart-item_like.button-like {
                    opacity: 1;
                    right: 36px;
                    bottom: 8px;
                    svg {
                        width: 22px;
                        height: 18px;
                    }
                }
                .cart-item_delete {
                    opacity: 1;
                    bottom: 8px;
                    svg {
                        width: 17px;
                        height: 20px;
                    }
                }
            }
        }
        .checkout-cart_right {
            display: grid;
            grid-template-areas: "gifts";
            .checkout-cart_gifts {
                grid-area: gifts;
            }
        }
    }
}
.checkout-cart_gift-popup {
    padding: 60px 20px;
    .checkout-cart_gift-owl {
        max-width: 152px;
    }
}

section.checkout-order.mobile {
    grid-template-columns: none;
    gap:0;
    .checkout-order_registration {
        gap:0;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .checkout-order_right {
        border-left: none;
        padding: 40px 25px;
    }
    .checkout-order_next {
        margin-bottom: 20px;
    }
    .checkout-promo .checkout-promo_container form#promo-form_add {
        grid-template-columns: none;
        gap: 10px;
    }
    .checkout-digift .checkout-digift_container  {
        form#digift-form_add, form#digift-form_delete {
            grid-template-columns: none;
            gap: 10px;
        }
    }
    .checkout-delivery_form .checkout-delivery_form_row {
        grid-template-columns: none;
    }
    .digift-form_inputs {
        grid-template-columns: 2fr 1fr;
    }
    .checkout-payment {
        .payment-list {
            grid-template-columns: 1fr;
            .payment-item {
                &:nth-child(even) {
                    margin-left: 0px;
                }
            }
        }
    }
}
.delivery-map {
    .delivery-map_container{
        grid-template-columns: none;
        grid-template-areas:    "close"
                                "map"
                                "search"
                                "select";
        grid-template-rows: 80px 0 50% 1fr;
        .delivery-map_close {
            grid-area: close;
        }
        .delivery-map_search {
            grid-area: search;
        }
        .delivery-map_select {
            grid-area: select;
        }
        #delivery-map-init {
            grid-area: map;
            height: 50vh;
        }
    }
}

section.checkout-payment {
    grid-template-columns: none;
    gap: 0;
    .checkout-payment_pay {
        padding: 55px 0px 0px;
    }
    .checkout-payment_right {
        border-left: none;
        padding: 40px 10px;
    }
    .checkout-payment_description, .paysystem-yandex {
        width: auto;
    }
}
}